html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: red;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner {
  margin-top: 50px;
  padding: 20px;
  max-width: 920px;
  border-radius: 4px;
  background: #fff;
  width: 100%;
  min-height: 100vh;
}
